<div class="container p-4">
<h1>Client Registration Form</h1>
<p>Please fill out the form below to register as a client.</p>
<hr>
<form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
    <!-- Name Field -->
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" required
            placeholder="Enter your name" #topic="ngModel">
    </div>
    <!-- Email Field -->
    <div class="mb-3">
        <label class="form-label" for="email">Email:</label>
        <input type="email" class="form-control"  id="email" name="email" [(ngModel)]="model.email" required placeholder="Enter your email"
            #email="ngModel">
    </div>
    <!-- Address Field -->
    <div class="mb-3">
        <label class="form-label" for="address">Address:</label>
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="model.address" required
            placeholder="Enter your address" #address="ngModel">
    </div>
    <!-- Password Field -->
    <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" required
            placeholder="Enter your password" #password="ngModel">
    </div>
    <!-- Repeat Password Field -->
    <!-- <div class="mb-3">
        <label for="repeatPassword">Repeat Password:</label>
        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" required placeholder="Repeat your password"
         #repeatPassword="">
    </div> -->
    <!-- Register Button -->
    <button type="submit" class="btn btn-primary" [disabled]="!clientForm.valid">Register</button>
</form>
</div>
<div [hidden]="!submitted" class="container p-4">
    <h2>Thank you for registering!</h2>
    <!-- <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
      </div>
    <div class="row">
      <div class="col-xs-3">Email</div>
      <div class="col-xs-9">{{ model.email }}</div>
    </div> -->
    </div>